<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <title>Delete File</title>
    </head>
    <body>
        <div class="container">
            <div class="main-content">
                <h1>Are you sure you want to delete "<%= file.filename %>"?</h1>
                <h2>THIS ACTION CANNOT BE UNDONE.</h2>
                <form class="input-form" action="/library/folder/file/<%= file.id %>/delete" method="POST">
                    <button type="submit" class="submit-button">Delete File</button>
                    <a href="/library/folder/file/<%= file.id %>">No! Go back</a>
                </form>
            </div>
        </div>
    </body>
</html>