<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <title>Edit Folder</title>
    </head>
    <body>
        <div class="container">
            <div class="main-content">
                <%- include("partials/errors.ejs") %>
                <form action="/library/folder/<%= folder.id %>/edit" method="POST">
                    <label for="folderName">Name: </label>
                    <input type="text" name="folderName" id="folderName" value="<%= folder.folderName %>" maxlength="50" required />
                    <button type="submit">Submit</button>
                </form>
                <a href="/library/folder/<%= folder.id %>">Cancel</a>
            </div>
        </div>
    </body>
</html>