<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <title>Edit File</title>
    </head>
    <body>
        <div class="container">
            <div class="main-content">
                <h1>Edit File Info</h1>
                <%- include("partials/errors.ejs") %>
                <form class="input-form" action="/library/folder/file/<%= file.id %>/edit" method="POST">
                    <div class="form-item">
                        <label for="filename">Filename: </label>
                        <input type="text" name="filename" id="filename" maxlength="50" value="<%= file.filename %>" required />
                    </div>
                    <button type="submit" class="submit-button">Submit</button>
                    <a href="/library/folder/file/<%= file.id %>">Cancel</a>
                </form>
            </div>
        </div>
    </body>
</html>