<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <title>Edit Folder</title>
    </head>
    <body>
        <div class="container">
            <div class="main-content">
                <h1>Edit Folder</h1>
                <%- include("partials/errors.ejs") %>
                <form class="input-form" action="/library/folder/<%= folder.id %>/edit" method="POST">
                    <div class="form-item">
                        <label for="folderName">Name: </label>
                        <input type="text" name="folderName" id="folderName" value="<%= folder.folderName %>" maxlength="50" required />
                    </div>
                    <button type="submit" class="submit-button">Submit</button>
                    <a href="/library/folder/<%= folder.id %>">Cancel</a>
                </form>
            </div>
        </div>
    </body>
</html>