<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <title>Uh oh!</title>
    </head>
    <body>
        <div class="main-content">
            <h2>Error!</h2>
            <p><%= error.message %></p>
            <div><a href="/">Go back</a></div>
        </div>
    </body>
</html>