<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <title>User Login</title>
    </head>
    <body>
        <div class="container">
            <div class="main-content">
                <h1>User Login</h1>
                <%- include("partials/errors.ejs") %>
                <form class="input-form" action="/login" method="POST">
                    <div class="form-item">
                        <label for="username">Username or Email: </label>
                        <input type="text" name="username" id="username" placeholder="Username or Email" maxlength="50" required>
                    </div>
                    <div class="form-item">
                        <label for="password">Password: </label>
                        <input type="password" name="password" id="password" maxlength="50" required>
                    </div>
                    <button type="submit" class="submit-button">Submit</button>
                </form>
                <div class="login-page-links">
                    <div>Don't have an account? <a href="/user/signup">Sign Up</a></div>
                    <a href="/">Return Home</a>
                </div>
            </div>
        </div>
    </body>
</html>