<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <title>New Folder</title>
    </head>
    <body>
        <div class="container">
            <div class="main-content">
                <h1>Create Folder</h1>
                <%- include("partials/errors.ejs") %>
                <form class="input-form" action="/library/new-folder" method="POST">
                    <div class="form-item">
                        <label for="folderName">Name: </label>
                        <input type="text" name="folderName" id="folderName" maxlength="50" required />
                    </div>
                    <button type="submit" class="submit-button">Submit</button>
                    <a href="/library">Cancel</a>
                </form>
            </div>
        </div>
    </body>
</html>