<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <title>Success!</title>
    </head>
    <body>
        <div class="container">
            <div class="main-content">
                <h1>Account created!</h1>
                <h3><a href="/login">Log In</a></h3>
            </div>
        </div>
    </body>
</html>