<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <title>File Upload</title>
    </head>
    <body>
        <div class="container">
            <div class="main-content">
                <form action="/file/new-file" method="POST" enctype="multipart/form-data">
                    <input type="file" name="uploaded_file" />
                    <label for="filename">Name: </label>
                    <input type="text" name="filename" id="filename" maxlength="50" required />
                    <button type="submit">Submit</button>
                </form>
                <a href="/user/library">Cancel</a>
            </div>
        </div>
    </body>
</html>