<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <title>File Library</title>
    </head>
    <body>
        <div class="container">
            <div class="main-content">
                <h1>Welcome, <%= username %>.</h1>
                <a href="/file/new-file">Upload a File</a>
                <a href="/file/new-folder">New Folder</a>
                <a href="/logout">Log Out</a>
            </div>
        </div>
    </body>
</html>