* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    color: whitesmoke;
}

a {
    color: whitesmoke;
    transition: .2s;
}

a:hover {
    color: black;
}

.errors-list {
    color: red;
    text-align: left;
}

.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    border: 4px solid red;
    width: 66%;
}

.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    height: 100%;
    margin: auto;
    background-color: darkslategray ;
}

.main-content {
    grid-column: 2/10;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: darkslategray;
}

.input-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    gap: 10px;
    padding: 2rem;
    background-color:  slategray;
    box-shadow: 5px 5px 5px black;
    border-radius: 8px;
    width: 75%;
}

.form-item {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
}

.custom-button {
    margin: .5rem auto;
    padding: .2rem 3rem;
    box-shadow: 5px 5px 5px black;
    border-radius: 7px;
    transition: .2s;
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
    font-size: 24px;
}

.custom-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.submit-button {
    margin: auto;
    padding: .5rem 2rem;
    font-size: 18px;
    border-style: none;
    box-shadow: 5px 5px 5px black;
    border-radius: 7px;
    transition: .2s;
    background-color:  whitesmoke;
}

.submit-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.folders-container,
.files-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: solid 2px black;
    border-radius: 8px;
    box-shadow: 5px 5px 5px black;
    background-color: slategray;
}

.folder-row,
.file-info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 0 2rem;
    border-top: 2px solid black;
}

.folder-row-borderless,
.file-info-row-borderless {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 0 2rem;
}

.folder-row-right {
    display: flex;
    gap: 3rem;
}



.file-details-cell {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.file-title {
    text-align: center;
}

.file-info {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    background-color: slategray;
    margin-top: 1rem;
    padding: 0 4rem;
    border: solid 2px black;
    border-radius: 8px;
    box-shadow: 5px 5px 5px black;
    width: 80%;
}

.links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-top: 1rem;
    width: 80%;
    font-size: 20px;
}

.login-page-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

.icon-item {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.icon-list {
    display: flex;
    align-items: center;
    gap: 1rem;
}